@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   position: absolute;
   width: 100%;
   background-image: url("../Bg-Style/Background3.png");
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: rgb(245, 56, 94);
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#d3f5b4;
}

.container .content h1 span{
   color:rgb(235, 222, 224);
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
   color:#f4f6f8;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #f5f0f0;
   color:#131212;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: rgb(236, 74, 107);
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   position: absolute;
   width: 100%;
   background-image: url("../Bg-Style/Background2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;
  
  
}

.form-container form{
   padding:15px;
   border-radius: 15px;
   box-shadow: 0 15px 10px rgba(248, 245, 245, 0.1);
   background: #8095c2;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 25px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#f3eded;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #fbd0d9;
   color:crimson;
   text-transform: capitalize;
   font-size: 14px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: crimson;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:crimson;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

#form {
   padding: 0;
   margin: 0;
}
input:nth-child(1) {
   margin-bottom: 10px;
}


.wrapper-background{
   margin:0;
   padding:0;
   outline:0;
   box-sizing: border-box;  
   background-image: url("../Bg-Style/Background2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;

}

.wrapper{
   width:400px;
   height: auto;
   border: 1px solid #f5f2f2;
   margin:10px auto;
   text-align:center;
   padding:40px;
   background: #4060b6;
   border-radius: 55px;
   
}

.wrapper h2{

   color: #f0dee9;
 
   
}

.bg{
   background-image: url("../Bg-Style/gmail1.webp");
   background-repeat: no-repeat;
   background-size: 1875px 925px;
   background-size: cover;
   z-index: -1;
}

input[type=text]{
   width:300px;
   height:30px;
   border:1px solid #cccccc;
   margin-bottom: 5px;
   background-color: transparent;
  
}

input[type=submit]{
   width:300px;
   height:30px;
   border:0;
   background-color: #009900;
   color: #ffffff;
   cursor:pointer;
   margin-bottom: 5px;
}
textarea{
   width:300px;
   height:300px;
   border:1px solid #f3f1f1;
   margin-bottom: 5px;
   background-color: transparent;
}
.userbg{
   background-image: url("../Bg-Style/userinfo.jpg");
   background-repeat: no-repeat;
   background-size: 1875px 925px;
   background-size: cover;
   z-index: -1;
}





